

.navbar {
    overflow: hidden; /* Hide overflow */
    background-color: teal; /* Dark background color */
}

/* Style the navigation bar links */
.navbar a {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
    float: right; /* Float a link to the right */
}

.navbar a.center {
    float: center; /* Float a link to the right */
}
#header{
    color: white;
    padding-left: 20px;
}

#selector {
  color: white;
  font-family: Lato;
  font-size: 16px;

  line-height: 41px;
  text-align: left;
  padding-left: 20px;
}

#selector2 {
  width: 240px;
  height: 280px;
  padding-left: 20px;
}

#selectorPara {
  color: white;
  font-family: Lato;
  font-size: 14px;

  line-height: 41px;
  text-align: left;
  padding-left: 20px;
}

#selectorSmallP {
  width: 150px;
  height: 100px;
}
