<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    {%block name%}
    {% endblock %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css\Style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-color: #97AFF5">
<div class="navbar">
    <a href="\myprofile">My Profile</a>
    <a href="\myhouse">House Review</a>
    <a href="\schedule">Schedule</a>
    <a href="\contacts" class="right">Contact Info</a>
</div>
<div class="container-fluid">
    {%block content%}
    {% endblock %}
</div>
</body>
</html>