<!DOCTYPE html>
{%extends 'base.html'%}
{%load static%}
<html>
<head>
    {%block name%}
    <title>Contacts</title>
    {% endblock %}
</head>
<body style="background-color: #97AFF5">
<div class="container-fluid">
    {%block content%}
    <div class="row">
        <div class="col">
            <h1 id="header">DUMMYYYY</h1>
        </div>
    </div>
    {% endblock %}

</div>

</body>
</html>