<!DOCTYPE html>
{%extends 'base.html'%}
{%load static%}
<html lang="en">
<head>
    {%block name%}

    <title>My House</title>
    {% endblock %}
</head>


<body style="background-color: #97AFF5">

<div class="container-fluid">
    {%block content%}
    <div class="row">
        <div class="col">
            <h2 id="header">My House</h2>
        </div>
    </div>
    <div class="row">
        <section class="col-md-4">
            <img src="{% static 'media\Sample2.jpg' %}" id="selector2">
        </section>

        <section class=" col-md-4" id="selectorPara">
            <p>Alamat : {{ address }}</p>
            <p>Deskripsi : {{desc2}}</p>
        </section>

        <section class=" col-md-4" id="selector">
            <p>Komplain : {{ comp }}</p>
        </section>

    </div>
    {% endblock %}


</div>
</body>
</html>