<!DOCTYPE html>
{%extends 'base.html'%}
{%load static%}
<html>
<head>
    {%block name%}
    <title>My Profile</title>
    {% endblock %}
</head>

<body style="background-color: #97AFF5">

<div class="container-fluid">
    {%block content%}
    <div class="row">
        <div class="col">
            <h2 id="header">My Profile</h2>
        </div>
    </div>

    <div class="row">
        <section class="col-md-4">
            <img src="{% static 'media\IMG-20170305-WA0006.jpg' %}" id="selector2">
        </section>
        <section class=" col-md-4" id="selector">
            <p>Nama : {{ name }}</p>
            <p>Tempat Lahir : Denpasar</p>
            <p>Tanggal Lahir : 4 Juni 1999</p>
        </section>
        <section class=" col-md-4" id="selector">
            <p>Pendidikan :</p>
            <p>{{pendidikan1}}<br></p>
            <p>{{pendidikan2}}<br></p>
            <p>{{pendidikan3}}<br></p>
            <p>{{pendidikan4}}<br></p>
        </section>
    </div>

    <div class="row">
        <section class=" col-md-6">
            <p id="selector">Deskripsi :</p>
            <p id="selectorPara">
                {{ desc }}
            </p>
        </section>
        <section class=" col-md-6" id="selector">
            <p>Pencapaian :</p>
            <p>- Panitia Gonzaga Festival 2016
                bagian Perlengkapan.</p>
            <img src="{% static 'media\GONZFEST.png' %}" id="selectorSmallP">
        </section>
    </div>
    {% endblock %}

</div>

</body>
</html>
