<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <title>Welcome!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css\Style.css' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color: teal">
    <div class="row">
        <div class="col">
            <h1 id="header">WELCOME TO MY WEBSITE</h1>
        </div>
    </div>

    <div class="container">
        <ul>
            <li><a href="/myprofile">My Profile</a></li>
            <li><a href="/myhouse">My House</a></li>
            <li><a href="/contacts">Contacts</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </div>
</body>
</html>