<!DOCTYPE html>
{%extends 'base.html'%}
{%load static%}
<html>
<head>
    {%block name%}
    <title>Schedule</title>
    {% endblock %}
</head>
<body style="background-color: #97AFF5">
<div class="container-fluid">
    {%block content%}
    <div class="row">
        <div class="col">
            <h2 id="header">Masukkan Schedule</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form id="form" method="POST" action="{% url 'schedule' %}">
                {% csrf_token %}
                {{ form }}
                <br>
                <button type="submit" class="btn btn-default" action="schedule/">Submit</button>
            </form>
        </div>
    </div>
    <table class="table">
        <thead>
            <th>Hari</th>
            <th>Tanggal</th>
            <th>Jam</th>
            <th>Nama Kegiatan</th>
            <th>Tempat</th>
            <th>Kegiatan</th>

        </thead>
        <tbody>
            <!-- TODO, Kalau nama/email anon maka tr classnya jadi warning -->
            {% for i in objects%}
            <tr>
                <td> {{i.hari}} </td>
                <td> {{i.tanggal}} </td>
                <td> {{i.jam}} </td>
                <td> {{i.namaKeg}} </td>
                <td> {{i.tempat}} </td>
                <td> {{i.kategori}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>
    <a href="/delete" class="btn btn-default">Delete</a>

    {% endblock %}

</div>

</body>
</html>